@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Poppins", sans-serif;
}

/* Narrow scroll bar for webkit browsers */
::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
  height: 8px; /* Height of the scrollbar (for horizontal scroll) */
}

::-webkit-scrollbar-track {
  background: #f1f1f1; /* Background of the scrollbar track */
}

::-webkit-scrollbar-thumb {
  background: #888; /* Background of the scrollbar thumb */
  border-radius: 0px; /* Rounded corners */
}

::-webkit-scrollbar-thumb:hover {
  background: #555; /* Hover state of the scrollbar thumb */
}

/* Narrow scroll bar for Firefox */
* {
  scrollbar-width: none; /* Thin scrollbar */
  scrollbar-color: #888 #f1f1f1; /* Thumb color and track color */
}

/* Narrow scroll bar for Internet Explorer and Edge Legacy */
* {
  -ms-overflow-style: -ms-autohiding-scrollbar; /* Auto-hiding scrollbar */
}
